

<div class="row">


    <p><img src="/images/phish_balloons.jpg"></p>
  </div>
</div>






<div class="row">

  <div class="large-8 columns">
    <h4>Play With Your Phriends</h4>
    <p>Phantasy Phishball is a free, Phan phriendly take on fantasy football, pitting you and your friends against eachother in an epic clash of Phish setlist speculation. Build your league, make your picks before the show, compare your stats, and compete to become the ultimate tour psychic.</p>
    <p>Built and maintained by phans, for phans. Give it a try!  .</p>
    <p><a href="#" class="secondary small button">Sign up →</a></p>
  </div>



</div>



<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h4>Get in touch!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>

  </div>
</div>


  </div>
</form>
