
    <div class="row">

      <form method="post" action="/prediction/submit">
        <div class="large-4 columns">
          <label for="S1 Opener">S1 Opener</label>
          <input type="text" name="S1 Opener"/>
        </div>

        <div class="large-4 columns">
          <label for="S1 Closer">S1 Closer</label>
          <input type="text" name="S1 Closer">
        </div>

        <div class="large-4 columns">
          <label for="S2 Opener">S2 Opener</label>
          <input type="text" name="S2 Opener">
        </div>

        <div class="large-4 columns">
          <label>S2 Closer</label>
          <input type="text" name="S2 Closer">
        </div>

        <div class="large-4 columns">
          <label>Encore</label>
          <input type="text" name="Encore">
        </div>

        <div class="large-4 columns">
          <label>Cover song</label>
          <input type="text" name="Cover">
        </div>

        <div class="large-4 columns">
          <label>Elemental song</label>
          <input type="text" name="Elemental">
        </div>

        <div class="large-4 columns">
          <label>Gamehendge</label>
          <input type="text" name="Gamehendge">
        </div>

        <div class="large-4 columns">
          <label>Animal</label>
          <input type="text" name="Animal">
        </div>

        <div class="large-4 columns">
          <label>Name</label>
          <input type="text" name="Name">
        </div>

        <div class="large-4 columns">
          <label>Place</label>
          <input type="text" name="Place">
        </div>

        <div class="large-4 columns">
          <label>Random Pick 1</label>
          <input type="text" name="Random Pick 1">
        </div>

        <div class="large-4 columns">
          <label>Random Pick 2</label>
          <input type="text" name="Random Pick 2">
        </div>

        <div class="large-4 columns">
          <label>Random Pick 3</label>
          <input type="text" name="Random Pick 3">
        </div>

        <div class="large-4 columns">
          <label>Random Pick 4</label>
          <input type="text" name="Random Pick 4">
        </div>

        <div class="large-4 columns">
          <label>Random Pick 5</label>
          <input type="text" name="Random Pick 5">
        </div>

        <input type="submit" class="button expand" value="Submit" />
      </form>
    </div>




    * Set 1 opener
    * Set 1 closer
    * Set 2 opener
    * Set 2 closer
    * Encore
    * Cover song (a song by another band that is not a Phish solo band)
    * Elemental song (relating to an earth element, like fire, light etc.)
    * Gamehendge song (a song the references the band's fictional universe,
    Gamehendge (http://en.wikipedia.org/wiki/Gamehendge))
    * Five wild card songs that could appear anywhere
    * A song about an animal
    * A song with a name as a title
    * A song about a place}"
