
    <div class="row">

      <form method="post" action="/prediction/submit">
        <div class="large-4 columns">
          <label for="S1 Opener">S1 Opener</label>
          <input type="text" name="S1 Opener"/>
        </div>

        <div class="large-4 columns">
          <label for="S1 Closer">S1 Closer</label>
          <input type="text" name="S1 Closer">
        </div>

        <div class="large-4 columns">
          <label for="S2 Opener">S2 Opener</label>
          <input type="text" name="S2 Opener">
        </div>

        <div class="large-4 columns">
          <label>S2 Closer</label>
          <input type="text" name="S2 Closer">
        </div>

        <div class="large-4 columns">
          <label>Encore</label>
          <input type="text" name="Encore">
        </div>
        <input type="submit" class="button expand" value="Submit" />
      </form>
    </div>
